@import 'https://fonts.googleapis.com/css?family=Raleway:300,400';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,300';


*{margin:0;padding:0;box-sizing:border-box;}   
li{text-decoration: none;}


img{
    width: 380px;
    max-height: 380px;
	padding:10px 0 0 10px;
    transition: 0.2s ease-out;
    border-radius:20px;
    cursor:pointer;
}

#img-caption,#tribute-info{display:none;visibility:hidden;padding:0;margin:0;border:none;content:"";}

blockquote {
	
	border: none;
	font-style: italic;
	position:center;
}


main{
    overflow:hidden;
	overflow-x: auto;
    /*background-image: url("https://images.pexels.com/photos/1047178/pexels-photo-1047178.jpeg");*/
   
    display:flex;
	flex-direction: row;   
}

body { background-image: url("https://images.pexels.com/photos/1047178/pexels-photo-1047178.jpeg");
	background-size:cover;} 



#about {width:380px;
padding:7px;
overflow:hidden;
border-radius:20px;
}
#about :first-child {padding:5px;}

.container p {margin: 0 5px; 
	font-size: 11px;
	letter-spacing: 0.1em;
    line-height: 1.4em;
}


p {font-size: 1.1em;}

b {font-weight: 1000;
	color: #8F000A;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	
}

i {color: #303030;}

.container {
  font-family: "Raleway", sans-serif;
  
  background:linear-gradient(45deg, snow, aliceblue);
  padding:10px;
  width: 90%;
  position:relative;
  margin-right:10px;
  margin-left:10px;
  margin-bottom:auto;
  border-radius:20px;
  overflow: hidden;
  margin-top: 10px;
}

.header {
	text-align: center;
	display:hidden;
	font-size: 2em;
	margin: 0;
	color: #8F000A;
}

.date{
    font-size: 14px;
    color: #8F000A;
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}

#quote  {
	border-radius: 10px;
	margin-bottom:0;
	background-color: #8F000A;
	width: 100%;
	justify-content: center;
	color: #F2F2F2;
}



blockquote p {
	font-size: 2em;
	line-height: 1.5em;
	padding-left: 10px;
	border-left: 2px solid #F2F2F2;
	font-weight: 700;
}


  
  
  
footer {
	background-color: #420005;
	width: 100%;
	color: #F2F2F2;
	text-align: center;
	max-height:8%;
}

footer h1 {
	padding: 0.3em 0.7em;
	font-weight: 500;
	font-size: 20px;
}

footer h3 {
	text-align: center;
	padding: 0.1em 0.7em;
	font-weight: 300;
	font-size: 16px;
}

footer a {
	text-decoration:none;
	color: #F2F2F2;
}


footer p {
	font-size: 12px;
	padding-top: 0.6em;
}




.attribution { font-size: 20px; text-align: center;
	color:white; 
}
	
.attribution a { color: hsl(216, 74%, 60%);  }
.attribution a:hover { color:  rgb(235, 91, 187) ;transition : 0.3s ease; }
.attribution a:visited { color: rgb(146, 47, 212); }





@media screen and (min-width:920px) {
	footer {position:fixed;
	bottom: 0;}
}
@media screen and (max-width: 920px) {
	main  {display:block;
	background-size: cover;
	background-position: center;
	image-rendering:optimizeSpeed;
	
	background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Frealtalk101radio.com%2Fwp-content%2Fuploads%2F2015%2F05%2Fbiggie.jpg&f=1&nofb=1");}
	
	body {height:110vh;}
	#about {width:90%;}

	.img-div {
		display:flex;
		flex-direction: column;
		padding:5%;margin:0;
		height:auto;width:auto;
	}

	img{display:none;

		width:50%;
		padding:10% 5% 5% 5%;
		height:auto;
		justify-content: center;
		margin:0;
	}
	
	.container {background:linear-gradient(45deg, snow, transparent);
		background-color: aliceblue;
		margin:0 auto 5% auto
	}

	.main:last-child{
		margin-bottom:10%;
	}

	
		
	}

